@media (max-width:1175px) {
    .contact-info {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        column-gap: 20px;
    }
}

@media (max-width: 938px) {
    header {
        padding: 20px;
    }
    .home-text {
        padding: 0 50px;
        margin-left: 0px;
        z-index: 1;
    } 
    header label {
        display: initial;
    }
    .navbar {
        justify-content: space-between;
    }
    header .navigation {
        position: absolute;
        background: #45a29e;
        height: 100vh;
        width: 100%;
        bottom: 0%;
        right: 0%;
        top:0%;
        left:0%;
        text-align: center;
        border: 1px solid rgba(0,0,0,.1);
        display: none;
        z-index: 2;
        padding: 50px;
        transition: 1s;
        float: left;
    }
    header .navigation ul li {
        display: block;
    }
    #menu-bar:checked ~ .navigation {
        display:initial;
    }
    .click-btn {
        margin-left: auto;
        text-align: center;
    }

    .button {
        z-index: -1;
    }

    .logo a {
        float: left;
        font-size: 20px;
        font-weight: 300;
    }

    .hobby{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        column-gap: 20px;
    }
    .about_fig p {
        margin: auto 0 0 auto;
    }

    .portfolio_fig p {
        margin: auto 0 0 auto;
    }

    .grid_classify {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        column-gap: 20px;
    }

    

    .foot {
        font-size: 1em;
        display: block;
        padding: 5px;
        column-gap: 10px;
    }

    .heading_text {
        text-align: center;
    }

    .service_container {
        margin-top: 5px;
        padding: 25px;
        text-align: center;
    }

   

@media (max-width: 400px) {
    .heading_text h1 {
        text-align: center;
    }

}

@media (max-width: 400px) {
    footer {
        bottom:0px;
    }
}
/*
@media (max-width: 700px) {
    header {
        padding: 20px;
    }
    .home-text {
        padding: 0 50px;
        margin-left: 0px;
        z-index: 1;
    } 
    header label {
        display: initial;
    }
    .navbar {
        justify-content: space-between;
    }
    header .navigation {
        position: absolute;
        background: #45a29e;
        height: 100vh;
        width: 100%;
        bottom: 0%;
        right: 0%;
        top:0%;
        left:0%;
        text-align: center;
        border: 1px solid rgba(0,0,0,.1);
        display: none;
        z-index: 2;
        padding: 50px;
        transition: 1s;
        float: left;
    }
    header .navigation ul li {
        display: block;
    }
    #menu-bar:checked ~ .navigation {
        display:initial;
    }
    .click {
        margin-left: auto;
        text-align: center;
    }

    .button {
        z-index: -1;
    }

    .logo a {
        float: left;
        font-size: 20px;
        font-weight: 300;
    }

    .list{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        column-gap: 20px;
    }
    .picture p {
        margin: auto 0 0 auto;
    }
    .progressbar {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        column-gap: 20px;
    }

    

    footer {
        display: flex;
    }

    .foot {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        column-gap: 20px;
    }
    
}*/
/*@media (max-width: 1104px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .navigation .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
}*/

/*@media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {
        display: none;
    }
@media screen and (min-width: 640px) {
    body {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
          "header header header header header"
          "main main main main main"
          "footer footer footer footer footer";
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    header {
        grid-area: header header header header header header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }*/