/*---Apply to all---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*----Body----*/

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://cdn.wallpapersafari.com/88/8/fc6ank.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width:auto;
    position: relative;
}

/*---Header CSS---*/

nav {
    display:flex;
    margin: auto;
    padding: 30px 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navigation {
    flex:1;
    text-align: right;
}

#menu-bar{
    display: none;
}

header label {
    margin-left: 25%;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.submit-btn {
    float: right;
    margin-right: 15px;
}

.navigation ul li {
    padding: 15px;
    list-style: none;
    display: inline-block;
}

.navigation ul li a {
    color:#fff;
    font-size: 18px;
    font-weight: 500;
   /* margin-left: 25px;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.navigation ul li a:hover {
    color: #1f2833;
    font-size: 140%;
}

.navigation .current {
    color: #66fcf1;
    font-size: 140%;
}

/*---Logo---*/

.logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
    
.logo a span {
    color: #66fcf1;
}
    
/*---index HOME CSS---*/
    
.home-text {
    width: 90%;
    color: #fff;
    margin: 175px 150px 150px 150px;
    text-shadow: 
        -1px 1px 0 #1f2833,
        1px 1px 0 #1f2833,
        1px -1px 0 #1f2833,
        -1px -1px 0 #1f2833;
}
    
.home_text_1 {
    font-size: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    
.home_text_2 {
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    
.home_text_3 {
    font-size: 30px;
    margin: 5px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
.home-text span {
    color: #66fcf1;
    font-weight: 500; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px; 
    text-shadow: 
        -1px 1px 0 #1f2833,
        1px 1px 0 #1f2833,
        1px -1px 0 #1f2833,
        -1px -1px 0 #1f2833;
}
    
/*---Button---*/

.click-btn{
    margin-left: 300px;
    margin-top: 50px;
}

.button {
    margin: 15px;
    display: inline-block;
    color: #fff; 
    position:relative;
    text-decoration: none;
    border: 1px solid transparent;
    background-color:#1f2833;
    border-radius: 0.75rem;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .7rem 1rem;
    text-align: center;
    line-height: 1.5rem;
    opacity: 0.85;
    box-sizing: border-box;
    width: auto;
    transition-duration: 1s;
    transition-property: background-color,border-color,color,fill,stroke;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
    
.button:hover {
    border: 1px solid #45a29e;
    background-color: #45a29e;
}
      
.button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button2  {
    display: inline-block;
    color: #1f2833; 
    position:relative;
    text-decoration: none;
    border: 1px solid transparent;
    background-color:#66fcf1;
    border-radius: 0.75rem;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .7rem 1rem;
    text-align: center;
    line-height: 1.5rem;
    opacity: 0.85;
    box-sizing: border-box;
    width: auto;
    transition-duration: 1s;
    transition-property: background-color,border-color,color,fill,stroke;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

   
.button2:hover {
    border: 1px solid #45a29e;
    background-color: #45a29e;
}
      
.button2:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.nxt-btn {
    text-align: center;
}

.btn {
    text-align: center;
    font-size: 4em;
}

     
    
/*----FOOTER----*/   

footer {
    grid-area: footer;
    opacity: 0.9;
    background-color: #0b0c10;
    padding: 30px;
}

.foot{
    font-size: 1.5em;
    padding: 0.5em;
    color:cornsilk;
    text-align: center;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
       
}

.foot-1 {
    font-size: 0.8em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.foot-2 {
    font-size: 0.8em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.foot-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}

/*---ICONS---*/

.fa {
    padding: 25px;
    font-size: 450px;
    width: 70px;
    opacity:1;
    transition: color 0.2s;
}
      
.fa:hover {
    color:currentColor;
    opacity: 0.7;
}
      
.fa-telegram {
    color: #0088cc;
}
      
.fa-youtube {
    color: #CD201F;
}
    
.fa-linkedin {
    color: #0a66c2 ;
}
    
.fa-instagram {
    color: #c32aa3;
}

.fa-child, .fa-envelope, .fa-phone {
    color:white;
}

.fa-share, .fa-print {
    color: #0b0c10;
}

/*----FOR ALL PAGES----*/

.others_background {
    background-color: #45a29e;
    background-image: linear-gradient(rgba(58, 88, 86, 0.9), #1f2833), url(https://cdn.wallpapersafari.com/88/8/fc6ank.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width:auto;
    position: relative;
    backdrop-filter: blur(5px);
  }

.heading_text {
    color: #66fcf1;
    text-align: center;
    margin-top: 25px;
    padding: 25px;
    text-shadow: 
        -1px 1px 0 #1f2833,
        px 1px 0 #1f2833,
        1px -1px 0 #1f2833,
        -1px -1px 0 #1f2833;
        
  }
.heading_text h1 {
    font-size: 50px;;
  }
.heading_text p {
    color: white;
    font-size: 30px ;
}


/*----ABOUT ME PAGE----*/

.about_fig, .portfolio_fig {
    text-align: center;
}

.about_fig p, .portfolio_fig p {
    font-size: 20px;
    color: white;
}

.about_fig h2, .portfolio_fig h2 {
    color: white;
}

.about_fig figcaption {
    color: #66fcf1;
}

.story h1,p {
    text-align: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}
  
.hobby {
    text-align: center;
    padding: 0px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    text-align: center;
    text-align: center;
}

.hobby h1{
    color: #66fcf1;
    font-size: 30px;
}

.hobby p{
    color: white;
    font-size: 20px;
}

.hobby-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.hobby-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.hobby-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
    

/*----MY SERVICE PAGE----*/

.heading_text_2 {
    color: #fff;
    text-align: center;
    margin-top: 25px;
    padding: 25px;
    text-shadow: 
        -1px 1px 0 #1f2833,
        px 1px 0 #1f2833,
        1px -1px 0 #1f2833,
        -1px -1px 0 #1f2833;
}

.heading_text_2 h1 {
    color: #66fcf1;
    font-size: 50px;;
}

.heading_text_2 p {
    font-size:20px ;
}

.service_container {
    margin-top: 130px;
    text-align: center;
    font-size: 20px;
}


/*----PORTFOLIO PAGE----*/

.portfolio_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
    color: white;
}

      

/*----SKILL PAGE----*/

progress {
    width: 275px;
    height: 20px;
    padding: 6px;
}

.grid_classify label {
    color: #66fcf1;
    font-size: 25px;
}

progress::-webkit-progress-bar {
    width: 375px;
    height: 25px;
    background: white;
    border-radius: 45px;
    padding: 6px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4); 
    background-size: 250px 25px;
    background-image: linear-gradient(135deg, rgba(6, 41, 65, 0.15) 25%, transparent 25%,
    transparent 75%, rgba(255, 255, 255, 0.034) 75%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent); 
}

.progress label {
    color: white;
}

.grid_classify {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.grid_classify h2 {
    color:#66fcf1;
}

.progress-1 {
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.progress-2 {
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.progress-3 {
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
      
/*----QUALIFICATION PAGE----*/

table {
    text-align: center;
    padding: 50px;
}

td {
    padding: 25px;
    border: 3px #1f2833;
    font-size: 2em;
}
td p{
    font-size: 2em;
}

/*----  CONTACT ME PAGE----*/

.contact-info {
    padding: 15px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.contact_identification {
    font-size: 25px;
    margin-left: 30px;
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contact_identification a {
    color: #0b0c10;
    margin-left: 10%;
    font-size: 35px;
}
.contact_identification h2 {
    margin-left: 120px;
    font-size: 30px;
    color: #66fcf1;
}

.fieldset_align label {
    background-color: #66fcf1;
}
.fieldset_align {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0b0c10;
    margin-top: 25px;
    margin-left: 25px;
}
legend {
    font-size: 35px;
    margin-left: 35px;
}

.contact_form {
    font-size: 1.5em;
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}




